<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col" *ngFor="let u of usuarios">
        <div class="card h-100">
            <img [src]="u.avatar" class="card-img-top" alt="Imagen usuario">
            <div class="card-body">
                <h5 class="card-title">{{ u.first_name }} {{ u.last_name }}</h5>
                <p class="card-text">{{ u.email }}</p>
                <p class="card-text">
                    <span>ID: {{ u.id }}</span>
                </p>
            </div>
        </div>
    </div>
</div>